*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "digital";
  src: local("GoldmanBold"),
   url("./fonts/digital-7/digital-7.ttf") format("truetype");
  font-weight: bold;
  }

#display{
  grid-area: display;
  
  font-family: "digital";
  font-weight: bolder;
  text-align: right;
  padding: 1rem;
  padding-bottom: 0;
  
  width: 450px;
  
  color:#F7F7E8;
  background-color: #3a4952;

  border: 10px solid #1e2b2b;
  border-radius: 10px;
}

#expression{
  font-size: 28px;
  margin-bottom: 15px;
  color: #8ff2ff
}
#result {
  font-size: 42px;
}

#clear{
  grid-area: clear;
  background-color: #B46060;
  color: white;
}
#clear:hover{
  grid-area: clear;
  background-color: #d16f6f;
  color: white;
}


#divide{
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#subtract{
  grid-area: subtract;
}
#equals {
  background-color: #eec159;
  grid-area: equals;
}
#equals:hover {
  background-color: #f8d278;
}
#add{
  grid-area: add;
}

#add, #subtract, #multiply, #divide{
  color: white;
  background-color: #a980b9;

}
#add:hover, #subtract:hover, #multiply:hover, #divide:hover{
  background-color: #be8fd1;

}

#seven{
  grid-area: seven;
}

#eight{
  grid-area: eight;
}

#nine{
  grid-area: nine;
}


#four{
  grid-area: four;
}

#five{
  grid-area: five
}
#six{
  grid-area: six;
}


#three{
  grid-area: three;
}
#two{
  grid-area: two;
}
#one{
  grid-area: one;
}
#zero{
  grid-area: zero;
}

button{
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  border: 7px solid #314950;
  border-radius: 10px;

}
#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine{
  background-color: #dad9d9;
}
#zero:hover, #one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover{
  background-color: #F9F9F9;
}

#decimal{
  background-color: #b1af94;
  color: white;
}
#decimal:hover{
  background-color: #c5c3a6;
}

#container{
  width:500px;
  height: 500px;
  
  margin: 20vh auto;
  padding: 1rem;
  
  background-color: #6E7C7C;
  justify-content: center;
  display: grid;
  grid-template-areas:
  'display display display display'
  'clear clear divide multiply'
  'seven eight nine add'
  'four five six subtract'
  'one two three equals'
  'zero zero decimal equals'
  ;
  gap: 0.1rem;
  
  cursor: pointer;
  border:10px solid #435560;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
  
}

